@import "@/styles/base/reset.scss";

.about {
  background-image: url("/images/bgpic4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 200px;
  padding-right: 200px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 80px;
    height: max-content;

    &__item-1 {
      background-color: rgba(255, 255, 255, 0.95);
      font-size: 17px;
      font-weight: 500;
      padding: 20px;
      letter-spacing: 0.09em;
      line-height: 1.9em;

      .readMore--mobile {
        display: none;
      }
    }

    &__item-2 {
      background-color: rgba(255, 255, 255, 0.95);
      display: flex;
      column-gap: 30px;
      justify-content: space-evenly;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 479px) {
  .about {
    padding: 0 25px;
    &__content {
      padding: 50px 0 40px 0;
      &__item-1 {
        font-size: 13px;
        padding: 16px;
        letter-spacing: 0.07em;
        font-weight: 500;

        .readMore--mobile {
          display: block;
          p {
            display: inline;
          }

          button {
            padding: 0;
            outline: none;
            border: none;
            font-size: 13px;
            font-weight: 500;
            background-color: transparent;
            cursor: pointer;
            color: #f00;
          }
        }
        .readMore--desktop {
          display: none;
        }
      }
      &__item-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        row-gap: 20px;
      }
    }
  }
}
