@import "@/styles/base/reset.scss";

.about {
  background-image: url("/images/bgpic4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 200px;
  padding-right: 200px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 80px;
    height: max-content;

    &__item-1 {
      background-color: rgba(255, 255, 255, 0.85);
      font-size: 17px;
      font-weight: 600;
      padding: 20px;
      letter-spacing: 0.09em;
      line-height: 1.9em;
    }

    &__item-2 {
      background-color: rgba(255, 255, 255, 0.85);
      display: flex;
      column-gap: 30px;
      justify-content: space-evenly;
      padding: 20px;
    }
  }
}
