.details__container {
  .details__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    column-gap: 40px;
    padding: 75px 0;
    // padding: 75px 205px;

    // column-gap: 60px;
    // padding-left: 60px;
    // padding-right: 60px;
    // padding-top: 25px;
    // padding-bottom: 25px;

    &--item-2 {
      border: 1px solid;
      color: black;
      width: 550px;

      &-name {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 22px;
        color: #333;
      }
      &-price {
        font-size: 27px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      &-desc {
        font-size: 19px;
        font-weight: 500;
      }
    }

    &--item-1 {
      border: 1px solid;
      width: 550px;
    }
  }

  .title {
    height: auto;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-size: 1.7em;
    font-weight: 700;
    border-bottom: 2px solid rgba($color: #f00, $alpha: 1);
    padding-bottom: 13px;
    letter-spacing: 0.02em;
    // border: 1px solid;
  }
}
