.details__container {
  .details__info {
    display: grid;
    grid-template-columns: repeat(2, minmax(550px, auto));
    justify-content: center;
    column-gap: 40px;
    padding: 40px 0;

    &--item-2 {
      color: black;

      &-name {
        font-weight: 800;
        font-size: 25px;
        margin-bottom: 23px;
        color: #f00;
      }
      &-desc {
        font-size: 19px;
        font-weight: 500;
        div {
          margin-top: 7px;
          letter-spacing: 0.03em;
          span {
            font-weight: 600;
          }
        }

        .material,
        .size,
        .topMaterial,
        .bottomMaterial,
        .standart,
        .protection,
        .sole {
          max-width: 550px;
        }
      }
    }
  }

  .title {
    height: auto;
    width: fit-content;
    text-align: center;
    margin: auto;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 13px;
    color: #f00;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 479px) {
  .details__container {
    padding: 0 20px;

    .details__info {
      grid-template-columns: repeat(1, minmax(250px, auto));
      justify-content: center;
      align-items: center;
      row-gap: 30px;
      padding: 41px 0;

      &--item-2 {
        &-name {
          font-weight: 800;
          font-size: 23px;
          line-height: 24px;
          margin-bottom: 20px;
          color: #333;
        }
        &-desc {
          font-size: 16px;
          font-weight: 500;
          div {
            margin-top: 7px;
            letter-spacing: 0.03em;
            span {
              font-weight: 600;
            }
          }
        }
      }
    }
    .title {
      height: auto;
      width: fit-content;
      text-align: center;
      margin: auto;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 2px solid rgba($color: #f00, $alpha: 1);
      line-height: 16px;
      padding-bottom: 13px;
      letter-spacing: 0.02em;
    }
  }
}
