@import "@/styles/base/_reset.scss";

.home {
  margin-top: 25px;
  background-color: #f2f7f9;
  border: 1px solid transparent;
  height: 100%;
  width: 100%;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    background-color: #cdcaca;
    padding: 45px 180px;

    .item-1 {
      color: #263640;
      font-weight: 600;

      p:nth-child(1) {
        font-size: 30px;
      }
      p:nth-child(2) {
        font-size: 14px;
        margin-top: 20px;
        line-height: 1.4em;
      }
      .downloads {
        margin-top: 20px;
        font-size: 14px;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .item-2 {
      .client,
      .depo,
      .worker {
        display: flex;
        font-size: 25px;
        font-weight: bolder;
        color: #263640;

        div:nth-child(1) {
          margin-right: 14px;
        }
      }

      .client {
        .client-item-2 {
          p:nth-child(1) {
            margin-bottom: 5px;
          }

          p:nth-child(2) {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }

      .worker {
        margin: 30px 0;
        width: 100%;
        .worker-item-2 {
          p:nth-child(1) {
            margin-bottom: 5px;
          }
          p:nth-child(2) {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }

      .depo {
        .depo-item-2 {
          p:nth-child(1) {
            margin-bottom: 5px;
          }
          p:nth-child(2) {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }

  &__brands {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-top: 12px;
    margin-bottom: 12px;

    .swiper {
      width: 76%;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;

      & img {
        object-fit: contain;
      }
    }
  }

  @media screen and (max-width: 1150px) {
    .home__content {
      padding: 45px 120px;
    }
  }

  @media screen and (max-width: 992px) {
    .home__content {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: 35px;

      .item-2 {
        .client,
        .depo,
        .worker {
          font-size: 22px;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .home {
      &__content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 0;
        padding: 70px 35px;
      }
    }
  }

  @media screen and (max-width: 479px) {
    .home {
      &__content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 74px;
        padding: 50px 10px;

        .item-1 {
          color: #263640;
          font-weight: 600;

          p:nth-child(1) {
            font-size: 28px;
            font-weight: 700;
            line-height: 37.1px;
          }
          p:nth-child(2) {
            font-size: 16px;
            margin-top: 22px;
            font-weight: 400;
            line-height: 21.2px;
          }
          .downloads {
            margin-top: 20px;
            font-size: 16px;
          }
        }

        .item-2 {
          img {
            width: 56px;
            height: 46px;
          }
          .client,
          .depo,
          .worker {
            display: flex;
            font-size: 21px;
            font-weight: 600;

            div:nth-child(1) {
              margin-right: 13px;
            }
          }

          .client {
            .client-item-2 {
              p:nth-child(1) {
                margin-bottom: 10px;
              }

              p:nth-child(2) {
                font-size: 16px;
                line-height: 21.2px;
                font-weight: 400;
              }
            }
          }

          .worker {
            margin: 30px 0;
            width: 100%;
            .worker-item-2 {
              p:nth-child(1) {
                margin-bottom: 10px;
              }

              p:nth-child(2) {
                font-size: 16px;
                line-height: 21.2px;
                font-weight: 400;
              }
            }
          }

          .depo {
            .depo-item-2 {
              p:nth-child(1) {
                margin-bottom: 10px;
              }

              p:nth-child(2) {
                font-size: 16px;
                line-height: 21.2px;
                font-weight: 400;
              }
            }
          }
        }
      }

      &__brands {
        margin-top: 12px;
        margin-bottom: 12px;
        display: block;

        .swiper {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }

        .swiper-slide {
          background-position: center;
          background-size: cover;

          & img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
