.products {
  padding: 50px;
  background-color: #dad6d1;

  &__shoes {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    font-weight: 700;

    .list {
      border: 1px solid #e1e1e1;
      padding: 0 15px;

      &:hover {
        transform: scale(1.06);
        transition: all 0.2s ease-in-out;
        background-color: rgba(#fff, 0.6);
        border-radius: 5px;
      }

      a {
        text-decoration: none;
        color: #000;
      }

      &__image {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
      }

      &__desc {
        margin-bottom: 20px;
        h5 {
          font-size: 18px;
          font-weight: 700;
          height: 21px;
        }
        p {
          margin-top: 7px;
          font-weight: 500;
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .products {
    &__shoes {
      grid-template-columns: repeat(3, 250px);
    }
  }
}

@media screen and (max-width: 768px) {
  .products {
    &__shoes {
      grid-template-columns: repeat(2, 250px);
    }
  }
}

@media screen and (max-width: 600px) {
  .products {
    &__shoes {
      grid-template-columns: repeat(1, 270px);
      .list {
        &__desc {
          margin-bottom: 20px;
          h5 {
            font-size: 25px;
            font-weight: 600;
            height: 22px;
          }
          p:nth-child(2) {
            margin: 0;
          }

          p:nth-child(1) {
            margin-top: 10px;
            margin-bottom: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
          }
        }
      }
    }
  }
}
