.products {
  padding: 50px;
  background-color: #dad6d1;

  &__shoes {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    font-weight: 700;

    .list {
      border: 1px solid #e1e1e1;
      padding: 0 15px;

      &:hover {
        transform: scale(1.06);
        transition: all 0.2s ease-in-out;
        background-color: rgba(#fff, 0.6);
        border-radius: 5px;
      }

      a {
        text-decoration: none;
        color: #000;
      }

      &__image {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 25px;
      }

      &__desc {
        margin-bottom: 20px;
        h5 {
          font-size: 18px;
          font-weight: 700;
          height: 21px;
        }
        p {
          margin-top: 7px;
          font-weight: 500;
        }
      }
    }
  }
}
