.container__blog--id {
  padding: 52px 200px;
  text-align: center;

  div:nth-child(2) {
    margin-top: 25px;
  }

  img {
    width: 784px;
    height: 443px;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .container__blog--id {
    padding: 20px;
    text-align: center;

    img {
      text-align: center;
      width: 271px;
      height: 153px;
    }

    div:nth-child(2) {
      text-align: left;
    }
  }
}
