.main {
  border: 2px solid #f00;
  border-radius: 10px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
}

.thumbs {
  display: flex;
  justify-content: space-around;
  margin-top: 13px;

  .eachThumbs {
    cursor: pointer;
    border: 2px solid #f00;
    border-radius: 10px;
    padding: 0 3px;

    img {
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 479px) {
  .main {
    padding: 0 4px;
    img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .thumbs {
    justify-content: space-evenly;
    margin-top: 10px;

    .eachThumbs {
      border-radius: 10px;

      img {
        width: 41px;
        height: 48px;
      }
    }
  }
}
