.main {
  border: 2px solid #f00;
  border-radius: 10px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
}

#popup-image {
  border: 1px solid;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.85);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.thumbs {
  display: flex;
  justify-content: space-around;
  margin-top: 13px;

  .eachThumbs {
    cursor: pointer;
    border: 2px solid #f00;
    border-radius: 10px;
    padding: 0 3px;

    img {
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 479px) {
  .main {
    padding: 0 4px;
    img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .thumbs {
    justify-content: space-evenly;
    margin-top: 10px;

    .eachThumbs {
      border-radius: 10px;

      img {
        width: 41px;
        height: 48px;
      }
    }
  }
}
