.main {
  border: 1px solid;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.thumbs {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  border: 1px solid;

  .eachThumbs {
    cursor: pointer;
  }
}
