.logo {
  a {
    img {
      height: auto;
      width: 127px;
      object-fit: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 768px) {
  .logo {
    img {
      width: 100px !important;
    }
  }
}

@media screen and (max-width: 479px) {
  .logo {
    img {
      width: 72px !important;
    }
  }
}
