@import "@/styles/base/_reset.scss";

.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 82px;
  padding: 3px 180px;
  // background-image: url("/images/navbar.png");
  // background-position: center;
  // background-size: cover;
  background-color: #f00;
  position: relative;

  .sidemenu__navbar {
    z-index: 999;
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-image: url("/images/sidemenu.png");
    background-position: center;
    background-size: cover;

    .closeSidebar {
      color: #fff;
      cursor: pointer;
      font-size: 1.1em;
      display: inline-block;
      padding-top: 10px;
      padding-right: 10px;

      &:hover {
        transform: rotateY(-50%);
        transition: all 0.3s ease;
      }
    }

    .sidemenu__links {
      position: absolute;
      top: 25%;
      left: 35%;
      transform: translate(-25%, -25%);
      width: 180px;
      height: 300px;

      li:nth-child(2) {
        .dropdown {
          .dropdown-content {
            background-color: transparent;
            min-width: 180px;
            text-align: left;
            margin-top: 4px;

            a {
              color: white;
              padding: 12px;
              text-decoration: none;
              display: block;
              font-size: 15px;

              a:nth-of-type(2) {
                height: 35px;
              }
              .spann {
                display: block;
                margin-top: 10px;
              }
            }

            & a:hover {
              background-color: #f00;
              filter: brightness(230%);
            }
          }
        }
      }

      li {
        list-style: none;
        margin: 20px 0;

        a {
          text-decoration: none;
          font-size: 15px;
          line-height: 10px;
          letter-spacing: 0.02em;
          color: #fff;
        }
      }
    }
  }

  .hamburger {
    display: none;

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  &__logo {
    position: relative;
  }

  &__link {
    .links {
      display: flex;
      justify-content: end;
      column-gap: 25px;
      margin-top: 18px;
      margin-bottom: 17px;

      li:nth-child(2) {
        .dropdown {
          position: relative;
          display: inline-block;
          text-align: left;

          &:hover .dropdown-content {
            display: block;
          }

          .dropdown-content {
            background-image: url("/images/dropdown.png");
            background-position: center;
            background-size: cover;
            display: none;
            position: absolute;
            background-color: #f00;
            min-width: 200px;
            z-index: 999;
            margin-top: 4px;

            a {
              color: white;
              padding: 12px;
              text-decoration: none;
              display: block;
              font-size: 13px;

              a:nth-of-type(2) {
                height: 35px;
              }
              .spann {
                display: block;
                margin-top: 10px;
              }
            }

            & a:hover {
              background-color: #f00;
              filter: brightness(220%);
            }
          }
        }
      }

      li {
        list-style: none;
        text-align: right;
        min-width: fit-content;

        &:hover {
          border-bottom: 2px solid;
          color: #fff;
        }

        a {
          text-decoration: none;
          color: #fff;
          font-size: 17px;
          line-height: 10px;
          letter-spacing: 0.02em;
          font-weight: 500;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .navbar {
    padding: 3px 120px;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    position: relative;
    height: 80px;
    padding-left: 60px;

    .hamburger {
      display: block;
      position: absolute;
      top: 25%;
      right: 55px;
      transform: translateX(-50%);
    }

    .navbar__link {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    .sidemenu__navbar {
      display: none;
    }

    .hamburger {
      display: none;
    }

    .navbar__link {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 62px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    height: 46px;
    padding-left: 10px;

    .hamburger {
      top: 10%;
      right: -13px;
    }

    .sidemenu__links {
      li:nth-child(2) {
        .dropdown {
          .dropdown-content {
            background-color: transparent;
            min-width: 180px;
            text-align: left;
            margin-top: 5px;

            a {
              color: white;
              padding: 12px;
              text-decoration: none;
              display: block;
              font-size: 11px;

              a:nth-of-type(2) {
                height: 35px;
              }
              .spann {
                display: block;
                margin-top: 10px;
              }
            }

            & a:hover {
              background-color: #f00;
              filter: brightness(230%);
            }
          }
        }
      }

      li {
        a {
          text-decoration: none;
          font-size: 20px;
          line-height: 10px;
          letter-spacing: 0.02em;
          color: #fff;
        }
      }
    }
  }
}
