.search {
  display: flex;
  justify-content: right;
  outline: none;

  input {
    height: 25px;
    width: 130px;
    min-width: 50px;
    max-width: 250px;
    text-indent: 10px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;

    &:focus {
      outline: none;
    }
  }

  .dropdown-content {
    position: absolute;
    min-width: 166px;
    max-width: 300px;
    z-index: 999;
    margin-top: 1px;
    background-color: #fff;
    border-radius: 4px;

    .search__product {
      margin-top: 6px;
      margin-bottom: 3px;
      display: flex;

      &:hover {
        border: 2px solid #f00;
        border-radius: 5px;
      }

      a {
        text-decoration: none;
        display: flex;
      }

      &--name {
        padding-left: 7px;
        padding-top: 10px;
        font-weight: 500;
        font-size: 18px;
        color: red;
      }

      &--img {
        padding-left: 7px;
        object-fit: cover;
      }
    }
  }
}
