.container__slider {
  border: 1px solid transparent;

  .swiper {
    width: 75%;
    height: 100%;
    margin: 45px auto;
    padding: 0 23px;

    .swiper-button-next,
    .swiper-button-prev {
      color: red !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 20px !important;
      width: 20px !important;
    }

    .swiper-button-next {
      padding-left: 3%;
    }

    .swiper-button-prev {
      padding-right: 3%;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 17px;
    background: #fff;
    border: 0px solid #f00;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(0.98);
      transition: all 0.2s ease-in-out;
      border-radius: 10px;
      border: 2px solid #f00;
    }

    img {
      display: block;
      height: 100%;
      object-fit: contain;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 64%;
    }

    a {
      text-decoration: none;
      color: #000;
      padding-bottom: 2px;
    }

    .card {
      margin-top: 7px;
      &__name {
        margin-top: 2px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .container__slider {
    .swiper {
      width: 100%;
      padding: 0;
    }

    .swiper-slide {
      &:hover {
        transform: scale(1);
        box-shadow: none;
        transition: none;
      }
    }
  }
}
